*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--colorO);
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

/* Désactiver le système de grille Bootstrap */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-right: 0;
  margin-left: 0;
}

[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

:root {
  --colorA: #e13e3b;
  --colorB: #0c0b2e;
  --colorC: white;
  --colorD: #bb7cf2;
  --colorE: #1b1b1b;
  --colorF: #28282e;
  --colorG: #005248;
  --colorH: #755b8a;
  --colorI: #f76e48;
  --colorJ: #b2a8b8;

  --colorL: #006e60;
  --colorM: #390071;
  --colorN: #553c69;
  --colorO: #11232e;
  --colorO2: rgba(17, 35, 46, 0.645);
 
  --primary: #1a1c21;
   --bg: #23262b;
  --ca: #c97b1c;
  --gradient: #1d2f4f;
  --button: #6CA0DC;
}
