*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body{
  background-color: var(--colorO);
}
html{
  scroll-behavior: smooth;
  
}

/* Désactiver le système de grille Bootstrap */
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-right: 0;
  margin-left: 0;
}

[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


:root{
	--colorA: #E13E3B;
	--colorB: #0C0B2E;
	--colorC: white;
	--colorD:#BB7CF2;
	--colorE:#1b1b1b;
	--colorF:#28282e;
  --colorG:#005248;
  --colorH:#755B8A;
  --colorI:#F76E48;
  --colorJ: #B2A8B8;
  --colorK:#D5CABD; 
  --colorL:#006E60;
  --colorM: #390071;
  --colorN: #553C69;
  --colorO: #11232E;
    --colorO2:rgba(17, 35, 46, 0.645);
}


